In [ ]:
"""
integration to presentation

Apply transformation logic and prepare the data for the presentation

input: parquet file
output: transformed parquet file

"""

In [ ]:
"""
    Apply buisness logic and filter on current data
    try SCD Type2 if its possible
"""

In [2]:
import pandas as pd

In [4]:
#employment_rates_by_graduate_type_200723.csv
try:
    graduate_type_df = pd.read_parquet("Integration/employment_rates_by_graduate_type/")
except:
    print("CSV file is not available")
    raise

In [ ]:
#---------------new csv data--------------#

In [20]:
#graduate_breakdowns_salaries4_2023.csv
try:
    salaries_data_df = pd.read_parquet("Integration/yearly_salaries_by_gender/")
except:
    print("CSV file is not available")
    raise

In [12]:
# Data Quality checks
# #--- Not null check
primary_key_column = graduate_type_df["country_name"]
if primary_key_column.isnull().any():
    raise ValueEroor("Null values present in column , please check the data once again")

In [6]:
#duplicate check
primary_key_column = graduate_type_df["country_name"]
if primary_key_column.duplicated().any():
        raise ValueError("Primary key column contains duplicate values")

ValueError: Primary key column contains duplicate values

In [4]:
# average employment rate group by age group and graduate type
#employment_rates_by_graduate_type_200723.csv
transform_df = graduate_type_df[["age_group", "graduate_type", "employment_rate"]].groupby(["age_group", "graduate_type"]).mean()

transform_df.to_parquet("presentation/employment_rates_by_graduate_type1/", partition_cols=['graduate_type'])

In [6]:
# average employment rate group and unemployment rate by age group and year
#employment_rates_by_graduate_type_200723.csv
transform_df = graduate_type_df[["age_group", "graduate_type", "employment_rate", "unemployment_rate"]].groupby(["age_group", "graduate_type"]).mean()

transform_df.to_parquet("presentation/employment_rates_by_graduate_type2/", partition_cols=['age_group'])

                         employment_rate  unemployment_rate
age_group graduate_type
16-64     Graduate             86.564706           3.347059
          Non-Graduate         69.358824           6.841176
          Postgraduate         87.664706           2.676471
21-30     Graduate             86.376471           5.317647
          Non-Graduate         71.782353           9.070588
          Postgraduate         87.464706           4.329412

In [ ]:
#---------------new csv data--------------#

In [33]:
# total salary group by age group and time_period
#graduate_breakdowns_salaries4_2023.csv.csv

salary_transform_df = salaries_data_df[["time_period", "age_group", "median"]].groupby(["time_period", "age_group"]).sum()
salary_transform_df= salary_transform_df.rename(columns={'median': 'toal_salary'})
salary_transform_df.to_parquet("presentation/yearly_salaries_by_gender/", partition_cols=['age_group'])

In [34]:
# total salary group by age group and time_period
#graduate_breakdowns_salaries4_2023.csv.csv

salary_transform_df = salaries_data_df[["time_period", "age_group", "gender"]].groupby(["time_period", "age_group"]).count()
salary_transform_df.rename(columns={'gender': 'gender_count'}, inplace=True)
salary_transform_df.to_parquet("presentation/yearly_salaries_by_gender1/", partition_cols=['age_group'])